
<br><div><a href="/cad"><button>Cadastrar</button></a></div><br><br>
<h1>Lista de Veículos: </h1>

{{#each veiculos}}
    <h1>Id:{{id}}</h1>
    <h2>Marca:{{this.marca}}</h2>
    <h2>Modelo:{{this.modelo}}</h2>
    <h2>Ano de Fabricação:{{this.anoFabricacao}}</h2>
    <h2>Placa:{{this.placa}}</h2>
    <a href="/deletar/{{id}}"><button>Deletar</button>  </a>
    <a href="/alterar/{{id}}"><button>Alterar</button>  </a>
    <hr>
{{/each}}


        
{{! Path: views/formulario.handlebars }}